---
- name: Set {{ option.key }}
  lineinfile:
    path: "{{ dnsmasq_config[ansible_os_family] }}"
    state: "{{ (option.value is sameas true) | ternary('present', 'absent') }}"
    line: |-
      {%  if option.value is sameas true or option.value is sameas false %}
      {{    option.key }}
      {%- else %}
      {{    '%s=%s' | format(option.key, option.value) }}
      {%- endif %}
  notify: Restart Dnsmasq
