---
- name: Set {{ option.key }}
  lineinfile:
    path: "{{ dnsmasq_paths[ansible_os_family].config }}"
    state: "{{ (option.value is sameas false) | ternary('absent', 'present') }}"
    line: |-
      {%  if option.value is sameas true or option.value is sameas false %}
      {{    option.key }}
      {%- else %}
      {{    '%s=%s' | format(option.key, option.value) }}
      {%- endif %}
  notify: Dnsmasq configuration changed
