---
- name: Set a sequence of values
  lineinfile:
    path: "{{ dnsmasq_config[ansible_os_family] }}"
    line: "{{ option.key }}={{ value }}"
  with_items: "{{ option.value }}"
  loop_control:
    loop_var: value
