---
- name: Set {{ option.key }}
  lineinfile:
    path: "{{ dnsmasq_paths[ansible_os_family].config }}"
    line: "{{ option.key }}={{ value }}"
  with_items: "{{ option.value }}"
  loop_control:
    loop_var: value
  notify: Dnsmasq configuration changed
