{%  if zone.value.subnets is defined %}
{{    'auth-zone=%s,%s' | format(zone.key, zone.value.subnets | join(',')) }}
{%  else %}
{{    'auth-zone=%s' | format(zone.key) }}
{%  endif %}
{%  if zone.value.cnames is defined %}
{%    for hostname, cnames in zone.value.cnames | dictsort %}
{%      for cname in cnames %}
{{        'cname=%s.%s,%s.%s' | format(cname, zone.key, hostname, zone.key) }}
{%      endfor %}
{%    endfor %}
{%  endif %}
