{%- if dnsmasq_config is defined -%}
    {%- for key, value in dnsmasq_config.iteritems() -%}
        {%- if value is sameas true -%}
            {{ key | lower | replace("_", "-") }}{{ '\n' }}
        {%- elif value is sequence and value is not string -%}
            {%- for v in value -%}
                {{ key }}={{ v }}{{ '\n' }}
            {%- endfor %}
        {%- else -%}
            {{ key }}={{ value }}{{ '\n' }}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- if dnsmasq_zones is defined %}
no-hosts
addn-hosts={{ dnsmasq_zone_dir }}{{ '\n' }}
    {%- for zone in dnsmasq_zones -%}
        {%- if zone.subnets is defined %}
            {%- set optional_subnets -%}
                ,{{ zone.subnets | join(",") }}
            {%- endset -%}
        {%- endif -%}

        auth-zone={{ zone.domain }}{{ optional_subnets | default("") }}{{ '\n' }}

        {%- if zone.hosts is defined -%}
            {%- for hostname, host in zone.hosts.iteritems() -%}
                {%- if host.cnames is defined -%}
                    {%- for cname in host.cnames -%}
                        cname={{ cname }}.{{ zone.domain }},{{ hostname }}.{{ zone.domain }}{{ '\n' }}
                    {%- endfor -%}
                {% endif -%}
            {%- endfor -%}
        {% endif -%}
    {%- endfor -%}
{%- endif -%}
